<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/output.css">
    <title>Add Home</title>
  </head>
  <body class="bg-white dark:bg-zinc-900 text-black dark:text-white">
    <div>Add Home</div>
    <form action="/host/add-home" method="post">
      <input
        type="text"
        name="houseName"
        id="houseName"
        placeholder="Enter your home name"
      />
      <input type="submit" value="Submit" name="submit-home-name" id="submit-home-name">
    </form>
  </body>
</html>
