.white-button{
    width: 72px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.red-button{
    width: 72px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.green-button{
    width: 72px;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}